{%extends '_layout.html' %}

{% block content %}

  <div class="d-flex justify-content-center">
    <div class="col-3 text-center">
      
      <img src="{{user.full_image_path}}" class="img-thumbnail rounded-circle" width="200"/>

      <h4>@{{user.username}}</h4>
      {% if current_user.id == user.id %}
        <a class=" btn btn-primary" href="{{url_for('users.edit',id=current_user.id)}}">Edit Profile</a>
        <br></br>
        <a class=" btn btn-primary" href="{{url_for('images.new')}}">Upload Image</a>
      {% endif %}

    </div>
    
  </div>
  <div class="container">
    {% for image in user.images %}
    <div>
      <img src="{{image.full_image_path}}" width="350"/>
      <p>Donations received: ${{ image.donations | sum(attribute="amount") }}</p>
      <a class="btn btn-primary" href="{{url_for('donations.new', image_id=image.id)}}">Donate</a>
    </div>
    {% endfor %}
  </div>
 
{% endblock %}